@import 'modules/res/styles/base';

.header {
  align-items: center;
  background: $light-black;
  display: flex;
  font-size: $header-font-size;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.logo {
  // placeholder
}

.logoLink {
  color: $yellow;
  text-decoration: none;
}

.navButton {
  color: $yellow;
}
