@import 'modules/res/styles/base';

.header {
  align-items: center;
  background: $light-black;
  display: flex;
  font-size: $header-font-size;
  height: $header-height;
  justify-content: space-between;
}

.logo {
  //placeholder
}

.logoLink {
  color: $yellow;
  text-decoration: none;
}

.navButton {
  color: $yellow;
}

@include respond-to($tablet-width) {
  .header {
    font-size: $header-font-size-desktop;
    height: $header-height-desktop;
  }
}
