@import 'modules/res/styles/base';

.header {
  align-items: center;
}

.h {
  padding: 0;
}

.link {
  color: $orange;
}

.description {
  padding: $padding-base 0;
}

.info {
  font-size: .875rem;

  &::before {
    content: '>';
  }
}
