@import 'modules/res/styles/base';

.layout {
  // placeholder
}

.content {
  margin: auto;
  max-width: 60rem;
  padding: $header-height + $padding-base * 2 $padding-base $padding-base;
  transition: padding .5s;
}
