@import 'base';
@import 'reset';

html {
  font-family: $font-base;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: $black;
  color: $white;
  font-size: 100%;
  font-weight: 400;
}

a {
  color: $green;
  text-decoration: none;
  transition: color .5s ease;

  &:hover {
    color: $light-yellow;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $light-blue;
}

h1 {
  font-size: 1.3rem;
  padding: 1rem 0;

  &::before {
    content: '#';
    display: inline-block;
    padding-right: .5rem;
  }
}

:global {
  h2 {
    font-size: 1.25rem;
    padding: .9rem 0;

    .phenomic-HeadingAnchor {
      &::before {
        content: '#';
      }
    }
  }

  h3 {
    font-size: 1.2rem;
    padding: .8rem 0;

    .phenomic-HeadingAnchor {
      &::before {
        content: '##';
      }
    }
  }

  h4 {
    font-size: 1.15rem;
    padding: .7rem 0;

    .phenomic-HeadingAnchor {
      &::before {
        content: '###';
      }
    }
  }

  h5 {
    font-size: 1.1rem;
    padding: .6rem 0;

    .phenomic-HeadingAnchor {
      &::before {
        content: '####';
      }
    }
  }

  h6 {
    font-size: 1.05rem;
    padding: .5rem 0;

    .phenomic-HeadingAnchor {
      &::before {
        content: '#####';
      }
    }
  }
}

:global {
  .phenomic-HeadingAnchor{
    padding-right: .5rem;

    &::before {
      display: inline;
    }
  }

  .hljs {
    background: $light-black;
    border: 1px solid $grey;
    border-radius: 3px;
    display: block;
    font-family: 'Lucida Console', Monaco, monospace;
    // font-size: .75rem;
    overflow-x: auto;
    padding: .5em;
    word-break: break-word;
  }

  .hljs,
  .hljs-subst {
    color: $light-white;
  }

  .hljs-deletion,
  .hljs-formula,
  .hljs-keyword,
  .hljs-link,
  .hljs-selector-tag {
    color: $light-red;
  }

  .hljs-built_in,
  .hljs-emphasis,
  .hljs-name,
  .hljs-quote,
  .hljs-strong,
  .hljs-title,
  .hljs-variable {
    color: $light-blue;
  }

  .hljs-attr,
  .hljs-params,
  .hljs-template-tag,
  .hljs-type {
    color: $light-yellow;
  }

  .hljs-builtin-name,
  .hljs-doctag,
  .hljs-literal,
  .hljs-number {
    color: $magenta;
  }

  .hljs-code,
  .hljs-meta,
  .hljs-regexp,
  .hljs-selector-id,
  .hljs-template-variable {
    color: $orange;
  }

  .hljs-addition,
  .hljs-meta-string,
  .hljs-section,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-string,
  .hljs-symbol {
    color: $light-green;
  }

  .hljs-attribute,
  .hljs-bullet,
  .hljs-class,
  .hljs-function,
  .hljs-function .hljs-keyword,
  .hljs-meta-keyword,
  .hljs-selector-pseudo,
  .hljs-tag {
    color: $light-cyan;
  }

  .hljs-comment {
    color: $grey;
  }

  .hljs-link_label,
  .hljs-literal,
  .hljs-number {
    color: $light-magenta;
  }

  .hljs-comment,
  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-section,
  .hljs-strong,
  .hljs-tag {
    font-weight: bold;
  }
}
