@import 'base';
@import 'reset';

html {
  font-family: $font-base;
}

body {
  background: $black;
  color: $white;
}

a {
  color: $green;
  text-decoration: none;
  transition: color .5s ease;

  &:hover {
    color: $light-yellow;
  }
}
