@import 'modules/res/styles/base';

.listContainer {
  margin: 0;
  padding: 0;
}

.listItem {
  display: block;
  padding: $padding-base 0;

  + .listItem {
    padding-top: 0;

    &::before {
      color: $grey;
      font-size: .875rem;
      display: block;
      text-align: center;
      content: '/* --- */';
      padding-bottom: 3rem;
    }
  }
}
