@import 'modules/res/styles/base';

.footer {
  background: $light-black;
  font-size: .75rem;
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
}

.link {
  opacity: .4;
  text-decoration: none;
}

.reference {
  font-weight: 100;
}
